@model Quizzle.Models.PerfilViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Quizzle</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/signin.css">
</head>
<body class="text-center">
    <form class="form-signin" asp-action="Login">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <a class="btn btn-lg btn-link btn-block" asp-area="" asp-controller="Home" asp-action="Index">Voltar</a>
        <img class="mb-4" src="~/images/quizzle.png" alt="" width="234" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>

        <label for="login" class="sr-only">Login</label>
        <input type="text" id="login" class="form-control" placeholder="Login" asp-for="Login" required autofocus>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Senha" asp-for="Senha" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Logar</button>
        <a class="btn btn-lg btn-secondary btn-block" asp-area="" asp-controller="Perfil" asp-action="Cadastrar">Cadastrar</a>
        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
